wrap
  h1
  divider-h1
  col-2
    h2
    divider-h2
<<<<<<< HEAD
    p
      text
      %span text
      text
    p
  col-2
    h2
    divider-h2
    p
    p

wrap
  h1
  divider-h1
  col-2
    h2
    divider-h2
=======
>>>>>>> tmp
    p.
      Pour-over yr skateboard, chia Neutra trust fund shabby chic beard selvage next level ennui Helvetica. Carles chambray gentrify sartorial, scenester butcher pour-over normcore ethical tote bag Helvetica. Cornhole American Apparel Shoreditch, +1 photo booth scenester pug Tonx ethical flannel Kickstarter Carles. Pinterest raw denim Intelligentsia ennui fashion axe, four loko swag organic mustache narwhal. Sustainable raw denim stumptown, Austin Blue Bottle butcher occupy Tonx mlkshk cliche hashtag. Art party pug single-origin coffee, before they sold out sartorial DIY Bushwick brunch tote bag polaroid next level. Next level asymmetrical literally fixie, kale chips PBR typewriter crucifix roof party quinoa dreamcatcher Thundercats kogi farm-to-table leggings.

    p.
      Artisan put a bird on it Pitchfork, ugh sustainable stumptown messenger bag chia photo booth farm-to-table mlkshk. Viral tousled brunch crucifix cardigan. Before they sold out flexitarian 3 wolf moon Schlitz meh. Shabby chic cray freegan literally. Mumblecore American Apparel vegan Austin, Pinterest brunch church-key cardigan PBR kitsch gluten-free. Put a bird on it Helvetica messenger bag, sartorial gluten-free seitan selvage forage XOXO chia. Aesthetic tattooed iPhone fixie ethical VHS.

  col-2
    h2
    divider-h2
    p.
      Raw denim polaroid stumptown actually, Vice cardigan banjo pork belly Cosby sweater chia locavore Godard vegan cray. Viral Pitchfork pour-over, cliche lo-fi semiotics put a bird on it biodiesel jean shorts selvage ugh chillwave Tonx Kickstarter. Intelligentsia crucifix wayfarers occupy, ugh hashtag semiotics leggings. Bitters scenester American Apparel pork belly narwhal bicycle rights. Keffiyeh raw denim Etsy, single-origin coffee next level American Apparel Blue Bottle meh. Plaid 8-bit craft beer slow-carb leggings cardigan. Keffiyeh Cosby sweater sartorial, disrupt 3 wolf moon single-origin coffee shabby chic tote bag paleo.

    p.
      Ullamco paleo Cosby sweater Kickstarter, irure church-key 90's placeat Tumblr. Forage 3 wolf moon +1 nesciunt selvage, quis 90's master cleanse tempor. Et twee authentic, hashtag normcore selvage fashion axe. Godard crucifix squid sapiente, ex you probably haven't heard of them wolf officia dolor accusamus ullamco. Aute Brooklyn authentic, Etsy locavore photo booth brunch before they sold out small batch. Fap occaecat dreamcatcher, Godard letterpress wayfarers tempor vinyl disrupt messenger bag banjo deep v. Meh four loko anim twee flannel ex.